<%- include("partials/head", {title: 'LOOP - Detalle de Producto'}) %>

<body>
  <%- include("partials/header") %>
    <main>
      <span class="product">
        <div class="">
          <img src="/images/RUBIA-lata.png" width="100%" alt="lata" />
        </div>
        <div class="product-box">
          <h3 class="main-titulo">LOOP Lata Rubia</h3>
          <p class="product-price">$220,00</p>
          <p>Tipo: Con Trigo.</p>
          <p>Color: De color dorado</p>
          <p>Aroma: Ligeramente tropical.</p>
          <p>Sabor: Suave, no es amarga, muy sabrosa, y con gusto delicado.</p>
          <p>
            Descripción: La malta, el trigo, los lúpulos aromáticos le otorgan
            un sabor no tradicional que la hacen muy particular.
          </p>
        </div>
      </span>
    </main>

    <%- include("partials/footer") %>

  </body>
</html>
