<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;700&display=swap" rel="stylesheet">
    <title>LOOP - Detalle de Producto</title>
</head>
<body>
    <header>

        <div class="header-container">

            <div class="header-redes-y-login">
                <div class="redes">
                    <span><i class="fab fa-twitter"></i></span>
                    <span><i class="fab fa-instagram"></i></span>
                    <span><i class="fab fa-facebook-f"></i></span>
                    <span><i class="fab fa-youtube"></i></span>
                </div>

                <div class="login">
                    <span><a href="/productCart"><i class="fas fa-shopping-cart"></i></a></span>
                    <span><a href="/login"><i class="fas fa-sign-in-alt"></i></a></span>
                </div>
            </div>

            <div class="header-logo">
                <a href="/">
                    <img src="/images/Loop-logo1.jpg" width="120px" alt="logo">
                </a>
            </div>
           
        </div>

        <nav>
            <ul>
                <li><a href="">Cervezas</a></li>
                <li><a href="">Maltas</a></li>
                <li><a href="">Accesorios</a></li>
                <li><a href="">Sobre Nosotros</a></li>
            </ul>
        </nav>

    </header>

    <main>
        <h1 class="main-titulo">DETALLE DE PRODUCTO</h1>
    </main>
    
    <footer>
        <h3>Derechos Reservados © - 2022/23</h3>
    </footer>
</body>
</html>