<span>
    <img src="<%= imagen %>" width="100%" alt="lata" />
    <div class="container-body-cervezas">
      <p><%= titulo %></p>
      <p><%= precio %></p>
      <p>ENVIO GRATIS</p>
      <a href="/productDetail">VER MAS<i class="fas fa-angle-right"></i></a>
    </div>
</span>